In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('vehicles.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB

In [4]:
df = df.drop('county', axis=1)
df = df.drop('id', axis=1)

df = df.drop('image_url', axis=1)
df = df.drop('description', axis=1)
df = df.drop('lat', axis=1)
df = df.drop('long', axis=1)
df = df.drop('posting_date', axis=1)
df = df.drop('VIN', axis=1)
df = df.drop('drive', axis=1)
df = df.drop('size', axis=1)
df = df.drop('region_url', axis=1)
df = df.drop('url', axis=1)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        426880 non-null  object
 1   price         426880 non-null  int64
 2   year          425675 non-null  float64
 3   manufacturer  409234 non-null  object
 4   model         421603 non-null  object
 5   condition     252776 non-null  object
 6   cylinders     249202 non-null  object
 7   fuel          423867 non-null  object
 8   odometer      422480 non-null  float64
 9   title_status  418638 non-null  object
 10  transmission  424324 non-null  object
 11  type          334022 non-null  object
 12  paint_color   296677 non-null  object
 13  state         426880 non-null  object
dtypes: float64(2), int64(1), object(11)
memory usage: 45.6+ MB

In [6]:
df.sample(10)

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,type,paint_color,state
135951,spokane / coeur d'alene,18999,2008.0,cadillac,NaN,NaN,other,other,114701.0,clean,other,NaN,NaN,id
394714,norfolk / hampton roads,0,2011.0,cadillac,cts,NaN,6 cylinders,gas,103492.0,clean,automatic,coupe,black,va
21485,bakersfield,39950,2015.0,ram,2500 crew cab,excellent,8 cylinders,gas,86351.0,clean,automatic,truck,black,ca
414420,eastern panhandle,0,2012.0,toyota,camry se,excellent,4 cylinders,gas,84405.0,clean,automatic,sedan,silver,wv
1529,birmingham,49897,2021.0,toyota,tundra,NaN,8 cylinders,gas,15965.0,clean,other,truck,white,al
165549,"kansas city, MO",11600,2017.0,ford,fusion se,good,4 cylinders,gas,145000.0,clean,automatic,sedan,blue,ks
283285,new hampshire,43990,2018.0,chevrolet,silverado,NaN,NaN,other,96053.0,clean,automatic,pickup,white,nh
231493,boone,17990,2013.0,lincoln,mkz sedan 4d,good,6 cylinders,gas,41750.0,clean,automatic,sedan,white,nc
32334,inland empire,34900,2014.0,NaN,freightliner m2,excellent,NaN,diesel,128441.0,clean,automatic,truck,white,ca
72658,colorado springs,3500,1991.0,chevrolet,cavalier,excellent,6 cylinders,gas,91300.0,clean,automatic,wagon,white,co